#img2img_imt_calc_raw {
    display: flex !important; 
    alignt-items: center !important;
}

#img2img_imt_calc_raw sup {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: 0.5em;
}
